body {
    background: yellowgreen;
    color: black;
    
    }
    
    h1 {
    
    color: rebeccapurple;
    border-radius: 30%;
    background: white;
    font-size: 40px;
    font-family: 'Palette Mosaic', cursive;

    
    }

    h2 {
    
        color: crimson;
        font-size: 35px;
        font-family: 'Cairo', sans-serif;
        
        }
    
    li {color: black;}
    
     
    .title {
        padding: 16px;
        text-align:center;
    }

    .center {
        padding: 16px;
        text-align:left;
    }
    .end {
        text-align:center;
        position:relative;

    }
    .return {
        padding: 6px;
        text-align:left;
        
    }

    .copy {
        padding: auto;
        font-family: 'Indie Flower', cursive;
        text-align:center;
    }